<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite">

	<listeners>

		<listener class-name="ExtentReport.TestListeners"></listener>
	</listeners>

	<parameter name="browser" value="chrome"></parameter>
	<parameter name="url" value="https://www.suntrust.com/"></parameter>

	<test name="Regression Test chrome">
		<groups>
			<run>

				<exclude name="links"></exclude>

			</run>
		</groups>
		<classes>
			<class name="Testcases.HomePageTest"></class>
			<class name="Testcases.CNCPageTest"></class>
		</classes>



	</test>

</suite>